---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Acerca del sitio">
	<h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem nesciunt inventore similique quis sit in modi facilis voluptatem? Sit, voluptatibus! Sed, officiis vel odit doloremque cupiditate laborum esse tenetur quas voluptates, aspernatur debitis cumque corporis? Non obcaecati tenetur dolorem maxime vitae fugit adipisci neque omnis fugiat ut vero est voluptas, repellendus ipsa, voluptatum, eos dolorum modi alias porro nemo aut. Consequuntur modi voluptatum enim ducimus ut quibusdam, quaerat ab velit architecto, a nisi aut repudiandae, amet praesentium quisquam optio sunt aliquam excepturi unde. Temporibus voluptatibus id dicta. Dignissimos consequuntur unde libero aspernatur minus nobis consectetur blanditiis tempore aliquam, sunt porro!</p>
</Layout>